
#cc{
    font-family: "PT Sans", sans-serif;
    font-size: 23px;
    color: #222;
    position: relative;
    left: -30px;
    margin: 0px 100px;
    padding: 400px 18.8px;
    width: 92.53%;
    background-color: #e9e7e7;
}

