@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


#cate{
    font-family: "PT Sans", sans-serif;
    font-size: 23px;
    color: #222;
    position: relative;
    left: -30px;
    margin: 0px 100px;
    padding: 85px 18.8px;
    width: 92.53%;
    background-color: #e9e7e7;
}

.xt{
    background-color: #222;
    box-shadow: 0px 0px 20px rgb(70, 69, 69);
    display: grid;
    gap: 42px;
    justify-content: space-around;
    border: 2px solid rgba(5, 5, 5, 0.267);
    padding: 45px;
    border-radius: 10px;
    position: relative;
    top: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px;
    row-gap: 50px;
    justify-content: space-around;
}

.po{
    border: 2px solid #fcfcbd;
    height: 390px;
    width: 350px;
    border-radius: 10%;
    position: relative;
    text-decoration: none;
    border: 2px solid #222;
    background-color: #fdfdf0;
}
#pho{
    border-radius: 05%;
    height: 200px;
    width: 250px;
    position: absolute;
    left: 50px;
    top: 30px;
    border: 2px solid #222;
}
#buy{
    padding: 9px 55px;
    border-radius: 10px;
    background-color: rgb(214, 235, 28);
    color: rgb(14, 13, 13);
    font-family: "Rubik", sans-serif;
    border: 1.5px solid black;
    font-size: 1.3em;
    position: absolute;
    top: 310px;
    left: 20px;
    cursor: pointer;
}
#buy:hover{
    background-color: rgb(29, 177, 73);
}
#pri{
    font-family: "Rubik", sans-serif;
    position: relative;
    font-size: 30px;
    top: 189px;
    left: -15px;
    text-align: right;
    color: black;
}
#F{
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    position: relative;
    top: 228px;
    left: -20px;
    text-align: right;
    color: black;
}
.icon{
    color: rgb(12, 12, 12);
}

.more{
    font-family: "Mingzat", sans-serif;
    font-size: 37px;
    background-color: rgb(59, 59, 59);
    color: white;
    position: relative;
    left: 433px;
    border: 2px solid rgb(37, 37, 36);
    border-radius: 50px;
    padding: 12px 34px;
    width: 275px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.seller{
   /* height: 60px;
    width: 243px;
    border-radius: 50px;
    background-color: #e4eb88;
    border: 2px solid #ebd257;
    color: #222;
    font-size: 37px;*/
    
        font-family: "Mingzat", sans-serif;
        font-size: 45px;
        background-color: #e4eb88;
        position: relative;
        border: 2px solid #ebd257;
        box-shadow: 0px 0px 20px rgb(92, 90, 89);
        border-radius: 50px;
        padding: 12px 37px;
        left: 95px;
        top: -50px;
    
        
    
}