<footer>
    <div class="sec">
        <h2>paragraf</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore beatae eum voluptas pariatur dolorum quidem, ab nihil, vel doloribus magnam natus rem veritatis ut dolore dolor minus cum eaque ex?</p>
    </div>
    <div class="sec">
        <h2>tag</h2>
        <ul class="h">
            <li>home</li>
            <li>about us</li>
            <li>lolo</li>
        </ul>
    </div>
    <div class="sec"> 
        <h2>contact</h2>
        <ul class="h">
            <li>sil3atigmail.com</li>
            <li>+213 664234709</li>
            <li>rdx apple ll</li>
        </ul>
    </div>
    
</footer>
